.add-room-div {
  position: fixed;
  display: flex;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  border: 2px solid rgb(216, 210, 210);
  background-color: var(--box-color);
  height: 70vh;
  min-width: 14em;
  padding: 1em;
  z-index: 1;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);

  p {
    align-self: center;
    color: var(--text-color);
    font-family: var(--text);
  }
}

.get-back {
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  color: var(--text-color);
}
.add-input-div {
  display: flex;
  flex-direction: column;
}

.chose-pic {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2em;
  margin-bottom: 0.8em;
}
