.add-room-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 2%;
  left: 8%;
  border: 2px solid rgb(216, 210, 210);
  background-color: var(--back-color-div);
  height: 70vh;
  min-width: 14em;
  padding: 1em;
  overflow: scroll;

  p {
    align-self: center;
    color: var(--text-color);
    font-family: var(--text);
  }
}

.get-back {
  height: 1.5em;
  width: 1.5em;
  position: absolute;

  color: var(--text-color);
}
.add-input-div {
  display: flex;
  flex-direction: column;
}

.checkbox {
}
