:root {
  --text-color: white;
  --background-color: hsl(147, 18%, 70%);
  --button-color: #618e75;
  --header-text: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
  --text: "Love Ya Like A Sister", cursive;
  font-style: normal;
  --div-color: hsl(148, 21%, 57%);
  --back-color-div: hsl(145, 17%, 56%);
  --input-color-dm: #c3d8cc;
  --box-color: hsla(158, 88%, 30%, 1);
  background-image: radial-gradient(
      at 20% 39%,
      hsla(155, 50%, 38%, 0.57) 0px,
      transparent 50%
    ),
    radial-gradient(at 63% 14%, hsla(155, 40%, 41%, 1) 0px, transparent 50%),
    radial-gradient(at 40% 39%, hsla(155, 74%, 38%, 1) 0px, transparent 50%),
    radial-gradient(at 43% 90%, rgb(67, 182, 134) 0px, transparent 50%),
    radial-gradient(at 54% 25%, hsla(155, 46%, 52%, 1) 0px, transparent 50%),
    radial-gradient(at 57% 56%, rgb(56, 164, 119) 0px, transparent 50%),
    radial-gradient(at 83% 48%, hsla(155, 56%, 37%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 39%, hsla(151, 79%, 37%, 1) 0px, transparent 50%),
    radial-gradient(at 77% 87%, rgb(48, 144, 98) 0px, transparent 50%),
    radial-gradient(at 80% 72%, hsla(156, 51%, 38%, 1) 0px, transparent 50%);
}
body {
  box-sizing: 0;
  margin: 0;
  height: 100vh;
  background-color: hsla(147, 18%, 47%, 1);
  background-image: radial-gradient(
      at 80% 0%,
      hsla(144, 33%, 62%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 50%, hsla(144, 26%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(147, 27%, 48%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(147, 18%, 47%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(145, 16%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(147, 18%, 47%, 1) 0px, transparent 50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button {
  background-color: hsl(147, 19%, 47%);
  color: var(--text-color);
  font-family: var(--text);
  font-size: 16px;
  font-weight: 100;
  padding: 0.3em;
  border-radius: 0.3em;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
button:hover {
  background-color: rgb(42, 148, 99);
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
}

.login-header {
  font-family: var(--header-text);
  font-size: 65px;
  margin: 0.2em;
  place-self: center;
  display: grid;
  place-items: center;
}

.dragon-start-page {
  height: 10em;
  align-self: center;
  margin-top: 3em;
}

.dragon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
