:root {
  --text-color: white;
  --background-color: #a5c0b1;
  --button-color: #618e75;
  --header-text: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
  --text: "Love Ya Like A Sister", cursive;
  font-style: normal;
  --div-color: #7da38d;
}
.sign-in-name {
  color: var(--text-color);
  font-family: var(--text);
  font-size: 20px;
  margin: 0em;
}
.profile {
  display: flex;
  margin: 1em;
  place-self: end;
}
.chat-page {
  display: grid;
  place-items: center;
}
.icon {
  margin: 0em;
}

.chappy-chat-page {
  height: 3em;
  position: absolute;
  top: 1%;
  left: 1%;
}
.chat-page-h2 {
  font-family: var(--text);
  color: var(--text-color);
  font-weight: 100;
  font-size: 25px;
  margin: 0em;
}
.side-bar {
  background-color: var(--div-color);
  border-radius: 0.5em 0.5em 0 0;
  border: solid 1px black;
}
.div-room {
  border-bottom: solid 1px black;
  padding: 1em;
  max-height: 300px;
  overflow-y: auto;
}
.rooms {
  display: flex;
  margin: 0.7em 0.7em 0.7em 0;
  padding-right: 1em;
}
.room-image {
  height: 2em;
  border-radius: 10em;
  width: 2em;
  margin-right: 0.5em;
  opacity: 0.7;
}
.room-name {
  margin: 0em;
  place-self: center;
  font-family: var(--text);
  color: var(--text-color);
  font-size: 18px;
}
.div-dm {
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-height: 220px;
  min-height: 220px;
  overflow-y: auto;
}

.sign-out-btn {
  width: 8em;
}
.sign-user-div {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
}

.user-name {
  color: var(--text-color);
  font-family: var(--text);
  margin: 0em;
}
.dm-name {
  margin: 0.7em 0.7em 0.7em 0;
}
