.chat-page {
  display: flex;
  flex-direction: column;
}

.chat-page-h2 {
  font-family: var(--text);
  color: var(--text-color);
  font-weight: 100;
  font-size: 20px;
  margin: 0em;
  align-self: center;
}
.side-bar {
  display: flex;
  flex-direction: column;
  background-color: hsla(158, 54%, 32%, 1);
  background-image: radial-gradient(
      at 20% 39%,
      hsla(155, 50%, 38%, 0.57) 0px,
      transparent 50%
    ),
    radial-gradient(at 63% 14%, hsla(155, 40%, 41%, 1) 0px, transparent 50%),
    radial-gradient(at 40% 39%, hsla(155, 74%, 38%, 1) 0px, transparent 50%),
    radial-gradient(at 43% 90%, hsla(155, 72%, 27%, 1) 0px, transparent 50%),
    radial-gradient(at 54% 25%, rgb(41, 103, 77) 0px, transparent 50%),
    radial-gradient(at 57% 56%, rgb(51, 167, 118) 0px, transparent 50%);
  border-radius: 0.5em 0.5em 0 0;
  border: solid 1px black;
  margin: 0 1em 0 1em;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  height: 90vh;
}
.room {
  display: flex;
}

.room {
  display: flex;
  flex-direction: column;
}

.room-div {
  display: flex;
  gap: 0.4em;
  margin: 0.5em;
}
.div-room {
  border-bottom: solid 1px black;
  margin-left: 0.5em;
  max-height: 300px;
  overflow-y: auto;
}
.add-button-container {
  position: relative;
  display: inline-block;
}
.add-button {
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  color: var(--text-color);
  border: solid 1px var(--button-color);
  cursor: pointer;
}
.add-button-container:hover::after {
  content: "Add Room";
  position: absolute;
  top: 60%;
  left: 2.5em;
  transform: translateY(-50%);
  background-color: var(--button-color);
  color: var(--tooltip-text-color, white);
  padding: 0.2em 0.5em;
  border-radius: 4px;
  font-size: 0.9em;
  white-space: nowrap;
  pointer-events: none;
  z-index: 10;
}
.rooms {
  display: flex;
  margin: 0.5em 0.7em 0.7em 0;
  padding-right: 1em;
}
.room-image {
  height: 2em;
  border-radius: 10em;
  width: 2em;
  margin-right: 0.5em;
  /* opacity: 0.7; */
}
.room-name {
  margin: 0em;
  place-self: center;
  font-family: var(--text);
  color: var(--text-color);
  font-size: 18px;
}

.sign-out-btn {
  width: 8em;
}
.sign-user-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5em 0 0.8em 0;
}

.user-name {
  color: var(--text-color);
  font-family: var(--text);
  margin: 0em;
}
.dm-name {
  margin: 0.5em 0.5em 0.5em 0;
}

.locked {
  margin: 0 0 0 0.3em;
  align-self: center;
  opacity: 0.4;
  color: white;
}
.locked-room {
  opacity: 0.4;
}
.div-room-guest {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
  overflow-y: auto;
  height: 100%;
}

.sign-guest-div {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 10em;
  padding-bottom: 1em;
  gap: 1em;
  align-self: center;
}

.sign-in-btn-guest {
  font-size: 15px;
}

@media (min-width: 600px) {
  .chat-page {
    align-items: center;
  }
  .side-bar {
    min-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
  }
  .room {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .div-room {
    border-bottom: none;
    max-height: 500px;
  }
  .div-room-guest {
    flex-grow: 1;
  }
}
