.chat-page {
  display: flex;
  flex-direction: column;
}

.chappy-chat-page {
  height: 3em;
  position: absolute;
  top: 1%;
  left: 1%;
}
.chat-page-h2 {
  font-family: var(--text);
  color: var(--text-color);
  font-weight: 100;
  font-size: 20px;
  margin: 0em;
  align-self: center;
}
.side-bar {
  background-color: var(--div-color);
  border-radius: 0.5em 0.5em 0 0;
  border: solid 1px black;
  margin: 0 1em 0 1em;
}
.room-div {
  display: flex;
  gap: 0.4em;
  margin: 0.5em;
}
.div-room {
  border-bottom: solid 1px black;
  margin-left: 0.5em;
  max-height: 240px;
  overflow-y: auto;
}
.add-button-container {
  position: relative;
  display: inline-block;
}
.add-button {
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  color: var(--text-color);
  border: solid 1px var(--button-color);
  /* margin-top: 0.7em; */
  cursor: pointer;
}
.add-button-container:hover::after {
  content: "Add Room";
  position: absolute;
  top: 60%;
  left: 2.5em;
  transform: translateY(-50%);
  background-color: var(--button-color);
  color: var(--tooltip-text-color, white);
  padding: 0.2em 0.5em;
  border-radius: 4px;
  font-size: 0.9em;
  white-space: nowrap;
  pointer-events: none;
  z-index: 10;
}
.rooms {
  display: flex;
  margin: 0.5em 0.7em 0.7em 0;
  padding-right: 1em;
}
.room-image {
  height: 2em;
  border-radius: 10em;
  width: 2em;
  margin-right: 0.5em;
  /* opacity: 0.7; */
}
.room-name {
  margin: 0em;
  place-self: center;
  font-family: var(--text);
  color: var(--text-color);
  font-size: 18px;
}

.sign-out-btn {
  width: 8em;
}
.sign-user-div {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.user-name {
  color: var(--text-color);
  font-family: var(--text);
  margin: 0em;
}
.dm-name {
  margin: 0.5em 0.5em 0.5em 0;
}

.locked {
  margin: 0 0 0 0.3em;
}
.sign-in-btn-guest {
  padding: 0.5em;
  border-radius: 0.6em;
  font-size: 15px;
}
