:root {
  --text-color: white;
  --background-color: #a5c0b1;
  --button-color: #618e75;
  --header-text: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
  --text: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style: normal;
  --back-color-div: #7da38d;
  --input-color-dm: #c3d8cc;
}

.back-arrow-dm {
  height: 3em;
  position: absolute;
  top: 7%;
  left: 4%;
}
.dm-section {
  background-color: var(--back-color-div);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  place-self: center;
}
.div-dms {
  margin: 1.5em;
}
.sender-name {
  color: var(--text-color);
  font-family: var(--text);
  margin-bottom: 0em;
}
.text-message {
  margin: 0em;
  background-color: var(--input-color-dm);
  padding: 0.7em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.date {
  color: var(--text-color);
  margin-top: 0em;
  font-size: 12px;
  place-self: end;
}
.message-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-dm {
  height: 5em;
  width: 16em;
  padding: 0em;
  margin: 0.8em;
  background-color: var(--input-color-dm);
}
.send-btn {
  width: 6em;
  padding: 0.2em;
  background-color: var(--back-color-div);
}
