.back-arrow-dm {
  height: 3em;
  position: absolute;
  top: 3%;
  left: 5%;
}
.dm-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 1em;
  margin: 0.5em;
}
.div-dm {
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  max-height: 160px;
  min-height: 160px;
  overflow-y: auto;
}
.send-dm-div {
  display: flex;
  gap: 1em;
  margin: 0.5em;
}

.name-dm {
  font-family: var(--text);
  color: var(--text-color);
  font-weight: 100;
  font-size: 25px;
  margin: 0 0 0.5em 0;
  place-self: center;
  padding: 0.3em;
}
.messages-container {
  max-height: 350px;
  overflow-y: auto;
  padding: 0.5em;
  border: 1px solid #ddd;
  background-color: var(--back-color-div);
}
.div-dms {
  margin: 1em;
}
.sender-name {
  color: var(--text-color);
  font-family: var(--text);
  margin: 0em;
}
.text-message {
  margin: 0em;
  background-color: var(--input-color-dm);
  padding: 0.7em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.date {
  color: var(--text-color);
  margin: 0em;
  font-size: 12px;
  place-self: end;
}
.message-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-dm {
  height: 5em;
  width: 16em;
  padding: 0em;
  margin: 0.8em;
  background-color: var(--input-color-dm);
}
.send-btn {
  width: 6em;
  padding: 0.2em;
  background-color: var(--back-color-div);
  margin-bottom: 0.5em;
}
.send-dm {
  color: var(--text-color);
  height: 2em;
  width: 1.5em;
}
.user-search {
  position: absolute;
  top: 2%;
  left: 3%;
  border: 2px solid rgb(216, 210, 210);
  background-color: var(--back-color-div);
  height: 84vh;
  min-width: 14em;
  padding: 2.3em;
  overflow: scroll;
}
.user-div {
  display: flex;
}

.name-users {
  color: var(--text-color);
  font-family: var(--text);
  margin-left: 0.3em;
}

.back-arrow-search-user {
  height: 2em;
  position: absolute;
  top: 1%;
  left: 2%;
}
