.chappy-chat-page {
  height: 3em;
  margin-left: 0.5em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sign-in-name {
  color: var(--text-color);
  font-family: var(--text);
  font-size: 20px;
  margin: 0em;
  place-self: center;
}
.profile {
  display: flex;
  margin: 0.7em;
  /* place-self: end; */
}
.icon {
  margin: 0em;
  place-self: center;
}

.profile-image {
  object-fit: cover;
  border-radius: 10em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.profile-image-icon {
  width: 2em;
  height: 2em;
  color: var(--text-color);
}

.profile-section {
  position: fixed;
  display: flex;
  top: 45%;
  left: 50%;
  height: 65vh;
  width: 30vh;
  transform: translate(-50%, -50%);
  background-color: var(--box-color);
  padding: 1.4em;
  z-index: 1;
  border: 2px solid rgb(216, 210, 210);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  font-family: var(--text);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}
.close {
  height: 2em;
  width: 2em;
  position: absolute;
  left: 1%;
  top: 1%;
}

.profile-info {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 1em;
}
h3 {
  margin-top: 0em;
}
.delet-section {
  position: fixed;
  top: 45%;
  left: 50%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vh;
  transform: translate(-50%, -50%);
  background-color: var(--div-color);
  border: 2px solid rgb(216, 210, 210);
  p {
    margin: 0em;
  }
}
.delete-btns {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.input-div {
  display: flex;
  flex-direction: column;
}
.btn-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

@media (min-width: 600px) {
  header {
    max-width: 600px;
    margin: auto;
  }
  .profile-section {
    width: 35vh;
  }
  .delet-section {
  }
}
