.chappy-chat-page {
  height: 3em;
  position: absolute;
  top: 0.5%;
  left: 2.4%;
}

.sign-in-name {
  color: var(--text-color);
  font-family: var(--text);
  font-size: 20px;
  margin: 0em;
  place-self: center;
}
.profile {
  display: flex;
  margin: 0.7em;
  place-self: end;
}
.icon {
  margin: 0em;
  place-self: center;
}

.profile-image {
  object-fit: cover;
  border-radius: 10em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.profile-image-icon {
  width: 2em;
  height: 2em;
  color: var(--text-color);
}

/* width: 40px;
height: 40px;
border-radius: 50%;
overflow: hidden;
display: flex;
justify-content: center;

object-fit: cover; */
