:root {
  --text-color: white;
  --background-color: #a5c0b1;
  --button-color: #618e75;
  --header-text: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
  --text: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style: normal;
  --back-color-div: #7da38d;
  --input-color-dm: #c3d8cc;
}
.get-back-arow {
  height: 2em;
  width: 2em;
  position: absolute;
  color: white;
}
.room-dm {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0.5em;
  margin: auto;
}
.signd-in-user {
  color: var(--text-color);
  font-family: var(--text);
  place-self: end;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0em;
  font-size: 20px;
}

.room-message {
  display: flex;
  flex-direction: column;
  max-height: 350px;
  overflow-y: auto;
  padding: 0.5em;
  border: 1px solid #ddd;
  margin: 0.5em;
}

.room-div-dm {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}
.chat-room-name {
  place-self: center;
  font-weight: 100;
  font-family: var(--text);
  color: var(--text-color);
  font-size: 25px;
  padding: 0.4em;
  margin: 0em;
}

@media (min-width: 700px) {
  .room-message {
    min-height: 450px;
    margin: auto;
    min-width: 600px;
  }
  .room-message::-webkit-scrollbar {
    display: none;
  }
  .room-dm {
    max-width: 700px;
  }
}
